<style>
  .table th, .table td {
    vertical-align: middle;
  }

  .table td {
    font-size: 0.95rem;
  }

  .low-score {
    color: #dc3545; /* rojo Bootstrap */
    font-weight: bold;
  }

  h2 {
    margin-top: 30px;
    color: #343a40;
  }

  @media (max-width: 576px) {
  .table th, .table td {
    font-size: 0.75rem; /* más chico para que entre */
    padding: 0.25rem;   /* menos espacio */
  }
  h1, h2, h3 {
    font-size: 15px;
    margin: 10px;
  }
  .table th{
    font-size: 10px;
  }
  main {
    margin: 2px;
    padding: 2px;
  }
  .contenido-principal {
    margin: 4px;
    padding: 4px;
  }

    .contenido-principal {
    padding-top: 60px;
  }
    
}

</style>

<% if (alumnos.length === 0) { %>

<div class="alert alert-warning">
No se encontraron boletines
</div>



<% } else { %>

<% alumnos.forEach(a => { %>

<h2>
Boletín de <%= a.alumno %> <%= a.apellido %> - Curso <%= a.curso %>
</h2>

<table class="table">

<thead>
<tr>
<th>Materia</th>
<th>1T</th>
<th>2T</th>
<th>3T</th>
<th>Prom</th>
</tr>
</thead>

<tbody>

<% a.materias.forEach(m => { %>

<tr>

<td><%= m.materia %></td>

<td><%= m.t1 !== null && m.t1 < 6 ? 'EP' : (m.t1 ?? '-') %></td>

<td><%= m.t2 !== null && m.t2 < 6 ? 'EP' : (m.t2 ?? '-') %></td>

<td><%= m.t3 !== null && m.t3 < 6 ? 'EP' : (m.t3 ?? '-') %></td>

<td>
<% if(m.estado === 'EP'){ %>
EP
<% } else { %>
<%= m.nota_final %>
<% } %>
</td>

</tr>

<% }) %>

</tbody>

</table>

<hr>

<% }) %>

<% } %>